html,
body {
  height: 100%;
  font-family: Montserrat;
}

body {
  margin: 0;
  background-color: #f5f6fa;
}

@font-face {
  font-family: Montserrat;
  src: url(../Font/Montserrat-Regular.ttf);
}

#header {
  display: flex;
  justify-content: flex-end;

  background: #446dff 0% 0% no-repeat padding-box;
  opacity: 1;
  height: 65px;
}

@media screen and (max-width: 1289px) {
  #header h1 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
#header h1 {
  font: normal normal normal 20px/30px Montserrat;
  letter-spacing: 0px;
  color: #ffffff;
  text-transform: capitalize;
  opacity: 1;
  width: 932px;
  font-weight: 500;
}

.content {
  margin-top: 72px;
  display: flex;
  flex-direction: row;

  justify-content: center;
}

.subContent > div:first-child {
  margin-bottom: 20px;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 13px;
}

.mainCards {
  display: flex;
  flex-direction: row;
}
@media screen and (max-width: 610px) {
  .mainCards {
    display: flex;
    flex-direction: column;
  }
  .mainCards > div {
    margin-bottom: 30px;
  }
}
.mainCards > div {
  width: 164px;
  height: 130px;
  background-color: white;
  margin-right: 24px;
  border-radius: 7px;
  align-items: center;
  display: flex;
  place-content: center;
  flex-direction: column;
  cursor: pointer;
}

h4 {
  margin: 16px 0px 0px;

  letter-spacing: 0px;

  text-transform: capitalize;

  font-size: 13px;
}

.mainCards > div:first-child h4 {
  color: #13a062;
}

.calculationCard {
  display: flex;
  flex-direction: row;
  margin-top: 25px;
}
@media screen and (max-width: 610px) {
  .calculationCard {
    display: flex;
    flex-direction: column;
  }
  .displayResult {
    margin-bottom: 50px;
  }
  .subContent {
    display: flex;
    place-content: center;
    flex-direction: column;
    align-items: center;
  }
  #header h1 {
    font-size: 15px;
  }
}
.calculationCard:first-child {
  display: flex;
  flex-direction: column;
}

.calculationCard div > p {
  font-size: 12px;
  text-transform: uppercase;
  opacity: 0.62;
  margin: 3px 0px;
}

.displayResult {
  border: 1px solid #e7dcfe;
  width: 258px;
  margin-right: 24px;
  background-color: #ffffff;
}

.displayResult hr {
  border-top: 1px solid #e7dcfe;
}

.displayResult > div:nth-child(1) {
  padding: 15px 16px 0px;
  font-weight: 700;
  font-size: 18px;
}

#inputDigits {
  padding: 15px 0px 0px 14px;
  font-weight: 600;
  font-size: 18px;
  outline: none;
  border: 1px solid transparent;
}

.displayResult > div:nth-child(3) h5 {
  margin: 0px;
}

.displayResult > div:nth-child(3) {
  margin: 0px 12px 9px;
}

.topHead > div {
  display: flex;
  flex-direction: row;
  place-content: space-between;
  height: 45px;

  align-items: center;
  justify-content: space-around;
}

.topHead > div div:nth-child(1) {
  font: normal normal 600 20px/31px Poppins;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}

.topHead > div div:nth-child(2) {
  font: normal normal normal 12px/18px Poppins;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}

#selectItem {
  width: -webkit-fill-available;
  outline: none;
  border: 1px solid transparent;
  height: 25px;
  background-color: transparent;
  font-size: 11px;
  font-weight: 600;
}

#selectItem option:focus {
  background-color: aquamarine;
}
#selectItemTo {
  width: -webkit-fill-available;
  outline: none;
  border: 1px solid transparent;
  height: 25px;
  background-color: transparent;
  font-size: 11px;
  font-weight: 600;
}
